body {
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,.87);
	font-size: 16px;
	background-color: #EEEEEE;
}


/* Placeholder support for contenteditable elements */

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}




